/* ----> Styling på HTML-tags <---- */

body {
    margin: 0;
}
main{
    overflow:hidden;
}

a {
    text-decoration: none;
    color: #016b68;
}

a:hover {
    color: rgb(1, 107, 104);
}

li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

/*=== TYPOGRAFI ===*/
*{
    font-family:'montserrat', sans-serif;
}
p {
    font-size: 15px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    margin: 0;
}

h2{
    font-weight:600;
    font-size:2em;
}
h3{
    margin:5px 0 5px 0;
}

/*=== TEXT STYLING ===*/
.title--underline{
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
    -webkit-box-align:center;
            align-items:center;
}
.title--underline::after{
    content: url('img/underline01.png');
    position:relative;
    top:-20px;
    -webkit-transform:scale(0.3) scaleY(0.6);
            transform:scale(0.3) scaleY(0.6);
}
/* Specific text styles */

p.title--underline::after{
    content: url('img/underline01.png');
    position:relative;
    top:10px;
}
button.title--underline::after{
    top:-10px;
    -webkit-transform:scale(0.3) scaleY(0.5) scaleX(0.7);
            transform:scale(0.3) scaleY(0.5) scaleX(0.7);
}
#cases h2.title--underline::after{
    -webkit-transform:scaleX(0.3) scaleY(0.15) scaleX(0.5);
            transform:scaleX(0.3) scaleY(0.15) scaleX(0.5);
}
#services h2.title--underline::after{
    -webkit-transform:scaleX(0.3) scaleY(0.15) scaleX(0.7);
            transform:scaleX(0.3) scaleY(0.15) scaleX(0.7);
}

/* ----> ALT CONTENT <---- */

.page-center {
    position: relative;
    padding-right: 7.15%;
    padding-left: 7.15%;
}

.grøntekst {
    color: #016b68;
}

/* ----> NAVIGATION <---- */

/* Logo */

#logo {
    position: absolute;
    z-index: 20;
    margin-top: 40px;
}

#logo img {
    width: 38px;
}

/* Selve menuen */

.vertical-text {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
    position: relative;
    bottom: 230px;
    margin-left: 20px;
    font-size: 16px;
    height: 100px;
    cursor: pointer;
}
header nav ul div {
    height: 0;
}

.overlayOn {
    display: block;
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 30;
  cursor: pointer;
  transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

#menuPunkter {
    display: table;
    position: fixed;
    background-color: #f6f6f6;
    right: -80%;
    width: 80%;
    height: 100vh;
    z-index: 50;
    overflow-y: scroll;
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
}

/*=== PRIS ESTIMERING ===*/
.estimering__container.estimering__init{
    display:none;
}
.estimering__container.estimering__close{
    -webkit-animation:estClose 0.7s forwards;
            animation:estClose 0.7s forwards;
}
@-webkit-keyframes estClose{
    0%{
        z-index:100;
    }
    100%{
        z-index:-1;
    }
}
@keyframes estClose{
    0%{
        z-index:100;
    }
    100%{
        z-index:-1;
    }
}
.estimering__container.estimering__open{
    -webkit-animation:estOpen 0.7s forwards;
            animation:estOpen 0.7s forwards;
}
@-webkit-keyframes estOpen{
    0%{
        z-index:-1;
    }
    100%{
        z-index:100;
    }
}
@keyframes estOpen{
    0%{
        z-index:-1;
    }
    100%{
        z-index:100;
    }
}

.estimering__close .estimering__formular{
    -webkit-animation:estCloseRight 0.5s 0.2s forwards;
            animation:estCloseRight 0.5s 0.2s forwards;
}
.estimering__close .estimering__intro{
    -webkit-animation:estCloseLeft 0.5s forwards;
            animation:estCloseLeft 0.5s forwards;
}
@-webkit-keyframes estCloseRight{
    0%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
    100%{
        -webkit-transform:translateX(100%);
                transform:translateX(100%);
    }
}
@keyframes estCloseRight{
    0%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
    100%{
        -webkit-transform:translateX(100%);
                transform:translateX(100%);
    }
}
@-webkit-keyframes estCloseLeft{
    0%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
    100%{
        -webkit-transform:translateX(-100%);
                transform:translateX(-100%);
    }
}
@keyframes estCloseLeft{
    0%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
    100%{
        -webkit-transform:translateX(-100%);
                transform:translateX(-100%);
    }
}
.estimering__open .estimering__formular{
    -webkit-animation:estOpenRight 0.7s forwards;
            animation:estOpenRight 0.7s forwards;
}
.estimering__open .estimering__intro{
    -webkit-animation:estOpenLeft 0.5s forwards;
            animation:estOpenLeft 0.5s forwards;
}
@-webkit-keyframes estOpenRight{
    0%{
        -webkit-transform:translateX(100%);
                transform:translateX(100%);
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
}
@keyframes estOpenRight{
    0%{
        -webkit-transform:translateX(100%);
                transform:translateX(100%);
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
}
@-webkit-keyframes estOpenLeft{
    0%{
        -webkit-transform:translateX(-100%);
                transform:translateX(-100%);
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
}
@keyframes estOpenLeft{
    0%{
        -webkit-transform:translateX(-100%);
                transform:translateX(-100%);
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
}
.estimering__close .estimering__exit{
    visibility:hidden;
}
.estimering__open .estimering__exit{
    visibility:initial;
}
#cases button{
    margin: 100px auto 0 auto;
}
button.estimering__open{
    display:block;
    border: none;
    outline:none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 15px 13px;
    background-color: rgb(1, 107, 104);
    -webkit-transition:0.1s;
    transition:0.1s;
}
#menuPunkter .estimering__open{
    margin: 0 auto;
}

button.estimering__open:hover{
    cursor:pointer;
    -webkit-transform:translateY(-3px);
            transform:translateY(-3px)
}

@media screen and (max-width: 769px) {
    .estimering__container{
        overflow:scroll !important;
    }
    .estimering__inner{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
                flex-direction:column;
    }
    .estimering__inner .estimering__intro, .estimering__inner .estimering__formular{
        width:100%;
        height:auto;
    }
  
    .estimering__intro h1{
        font-size:2rem;
    }
}
.estimering__step--confirm{
    color:#016b68;
    font-weight:600;
}
.estimering__step--confirm:hover{
    cursor:pointer;
}
.estimering__container{
    overflow:hidden;
    position:fixed;
    display:-webkit-box;
    display:flex;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10;
}
.estimering__exit {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index:101;
}
  .estimering__exit:hover {
    opacity: 1;
}
  .estimering__exit:before, .estimering__exit:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
  .estimering__exit:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
  .estimering__exit:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.estimering__inner{
    height:100%;
    width:100%;
    display:-webkit-box;
    display:flex;
}
.estimering__intro{
    height:100%;
    width:50%;
    background-color:#FFFFFF;
    padding: 75px 50px;
    box-sizing:border-box;
}
.estimering__intro h1{
    margin-bottom:20px;
}
.estimering__intro p{
    font-size:20px;
    margin-bottom:15px;
}
.estimering__formular{
    height:100%;
    width:50%;
    background-color:#F2F2F2;
}

.estimering__formular form{
    height:100%;
    padding: 75px 50px;
    box-sizing:border-box;

}
.estimering__step{
    padding:0;
    border:none;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-sizing:border-box;
}
.estimering__step--show{
    opacity:1;
    display:-webkit-box;
    display:flex;
    -webkit-animation:fadeIn 0.5s;
            animation:fadeIn 0.5s;
}
.estimering__step--hidden{
    opacity:0;
    display:none;
}
@-webkit-keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.estimering__step--header h2{
    margin-top: 0;
}
.estimering__step--input{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}
.estimering__step--1 input{
    visibility: hidden;
    position:absolute;
}
.estimering__step.estimering__step--1 label{
    cursor:pointer;
    font-size:24px;
    margin-bottom:20px;
}
.estimering__step.estimering__step--1 label:hover{
    cursor:pointer;
    visibility:initial;
}
.estimering__step.estimering__step--1 label::after{
    content:"";
    content: url('img/arrow.png');
    visibility:hidden;
    margin-left: 10px;
    position: absolute;
}
.estimering__step.estimering__step--1 label:hover::after{
    visibility:initial;
    -webkit-animation:fadeInArrowRight 0.5s;
            animation:fadeInArrowRight 0.5s;
}
@-webkit-keyframes fadeInArrowRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(-5px);
                transform:translateX(-5px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
                transform:translateX(0)
    }
}
@keyframes fadeInArrowRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(-5px);
                transform:translateX(-5px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
                transform:translateX(0)
    }
}
@-webkit-keyframes fadeInArrowLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(5px) rotate(180deg);
                transform:translateX(5px) rotate(180deg);
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0) rotate(180deg);
                transform:translateX(0) rotate(180deg);

    }
}
@keyframes fadeInArrowLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(5px) rotate(180deg);
                transform:translateX(5px) rotate(180deg);
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0) rotate(180deg);
                transform:translateX(0) rotate(180deg);

    }
}

.estimering__prisspænd{
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
}
.estimering__prisspænd span{
    font-size:16px;
    font-weight:600;
    margin: 0 10px 10px 10px;
}
.estimering__prisspænd input{
    width: 50%;
}
@media screen and (max-width:769px) {
    .estimering__prisspænd {
        display:block;
    }
    .estimering__prisspænd span {
    display:none;
    }
    .estimering__prisspænd input {
    width:100%;
    }
    .estimering__step input {
	    box-sizing:border-box;
	  }
  }

.estimering__step input{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 12px;
    margin: 10px 0 15px 0;
    outline: none;
}
.estimering__step textarea{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 12px;
    margin: 10px 0 15px 0;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 500px;
    box-sizing: border-box;
}
.estimering__step label{
    font-size:18px;
}
.estimering__controls{
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-pack:end;
            justify-content:flex-end;
}
.estimering__controls a:hover{
    color:black;
}
.estimering__controls a, .estimering__controls input{
    background-color:transparent;
    margin:10px;
    font-size:18px;
}
.estimering__controls a:last-child::after, .estimering__controls a:first-child::before{
    content:"";
    content: url('img/arrow.png');
    visibility:hidden;
    margin-left: 5px;
    position: absolute;
}
.estimering__controls a:first-child::before{
    -webkit-transform-origin: left;
            transform-origin: left;
    margin-left: -5px;
    padding-right: 10px;
}
.estimering__controls a:last-child:hover::after{
    visibility:initial;
    -webkit-animation:fadeInArrowRight 0.5s;
            animation:fadeInArrowRight 0.5s;
}
.estimering__controls a:first-child:hover::before{
    visibility:initial;
    -webkit-transform:translateX(0) rotate(180deg);
            transform:translateX(0) rotate(180deg);
    -webkit-animation:fadeInArrowLeft 0.5s;
            animation:fadeInArrowLeft 0.5s;
}

/* ESTIMERING ICONS */
.estimering__icons {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%;
}

.estimering__icons img {
    display: none;
    height: 300px;
    margin: 0 auto;
    -webkit-animation:fadeIn 0.5s;
            animation:fadeIn 0.5s;
}

/* Menu links */

.menuLink1,
.menuLink2,
.menuLink3,
.menuLink4,
.menuLink5 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.menuLinks {
    text-align: center;
}

header nav ul.menuLinks {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.menuLinks li {
    margin: 30px;
    font-weight: bold;
}

.menuLink1 {
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-transform: matrix(1, 0, 0, 1, 500, 0);
            transform: matrix(1, 0, 0, 1, 500, 0);
    opacity: 0;
}

.menuLink2 {
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-transform: matrix(1, 0, 0, 1, 800, 0);
            transform: matrix(1, 0, 0, 1, 800, 0);
    opacity: 0;
}

.menuLink3 {
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-transform: matrix(1, 0, 0, 1, 1100, 0);
            transform: matrix(1, 0, 0, 1, 1100, 0);
    opacity: 0;
}

.menuLink4 {
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-transform: matrix(1, 0, 0, 1, 1400, 0);
            transform: matrix(1, 0, 0, 1, 1400, 0);
    opacity: 0;
}
.menuLink5 {
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-transform: matrix(1, 0, 0, 1, 1700, 0);
            transform: matrix(1, 0, 0, 1, 1700, 0);
    opacity: 0;
}
.menuLink6 {
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-transform: matrix(1, 0, 0, 1, 2000, 0);
            transform: matrix(1, 0, 0, 1, 2000, 0);
    opacity: 0;
}


/* Burgermenuen */
#burgerDivId {
    cursor: pointer;
    z-index: 1;
}
.burgerDiv {
    right: 0;
    height: 100px;
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,.04);
    position: fixed;
}

#burgerMenu {
    width: 28px;
    height: 30px;
    margin-top: 40px;
    padding-right: 7.15%;
    right: 0;
    position: fixed;
    z-index: 100;
}

#burgerMenu div {
    width: 100%;
    height: 5px;
    background: #23595A;

    margin: 4px auto;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    -webkit-backface-visibility: hidden;

            backface-visibility: hidden;
}

/* Burgermenu hover */
#burgerMenu:hover {
    cursor: pointer;
}

#burgerMenu:hover .two {
    width: 50%;
}

#burgerMenu:hover .one {
    -webkit-transform: rotate(90deg) translate(9px, 8px);
            transform: rotate(90deg) translate(9px, 8px);
}

#burgerMenu:hover .three {
    -webkit-transform: rotate(-90deg) translate(9px, 8px);
            transform: rotate(-90deg) translate(9px, 8px);
}

/* Udseende af burgermenu når den bliver trykket på */
#burgerMenu.on .one {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
}

#burgerMenu.on .two {
    opacity: 0;
}

#burgerMenu.on .three {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
            transform: rotate(-45deg) translate(7px, -8px);
}

/* udseende af selve menuen når burgermenu bliver trykket på */

header nav#menuPunkter.slideIn {
    right: 0 !IMPORTANT;
    -webkit-transition: all 0.6s cubic-bezier(.65,.05,.36,1);
    transition: all 0.6s cubic-bezier(.65,.05,.36,1);
}
#menuPunkter.slideIn .menuLink1 {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

#menuPunkter.slideIn .menuLink2 {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

#menuPunkter.slideIn .menuLink3 {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

#menuPunkter.slideIn .menuLink4 {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}
#menuPunkter.slideIn .menuLink5 {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}
#menuPunkter.slideIn .menuLink6 {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}



/*=== FORSIDE ===*/

.forside-billede {
    left:0;
    right:0;
}
.forside-tekst {
    background-color: white;
    position:relative;
}
@media screen and (min-width:1080px){
    .forside-tekst{
        -webkit-transform:translateX(-100px);
                transform:translateX(-100px);
        -webkit-animation: 1s subtleFadeInLeft forwards ease-out;
                animation: 1s subtleFadeInLeft forwards ease-out;
    }
}
@-webkit-keyframes subtleFadeInLeft{
    0%{
        -webkit-transform:translateX(-100px);
                transform:translateX(-100px);
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
}
@keyframes subtleFadeInLeft{
    0%{
        -webkit-transform:translateX(-100px);
                transform:translateX(-100px);
    }
    100%{
        -webkit-transform:translateX(0);
                transform:translateX(0);
    }
}

.forside-tekst div:first-child {
    padding-top: 20px;

}
.p-forside {
    -webkit-animation-duration: 2s!IMPORTANT;
            animation-duration: 2s!IMPORTANT;
    font-weight: 500;
    font-size: 30px;
}
.p-forside img {
    margin-right: 100px;
}

.body-tekst {
    margin-top:20px;
}

.forside-bg{
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    right: 0;
}
.forside-bg img{
    width: 100%;
    height: 110%;
    -o-object-fit: cover;
        object-fit: cover;
    right: -275px;
    bottom: 0;
    position:absolute;
}

.tekst-boks {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
}

.pil {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 20px;
}



/*=== CASES ===*/

#cases {
    padding-top: 80px;
}
.cases__grid{
    display:-webkit-box;
    display:flex;
    flex-wrap:wrap;
    -webkit-box-pack:center;
            justify-content:center;

}
.cases__item{
    position:relative;
    margin:25px;
    width:100%;
}

.cases__item-container{
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
.cases__item-container:hover {
    cursor: pointer;
}
.cases__item-container:hover .cases__item-info--container{
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
    opacity:1;
}
.cases__item-container:hover .cases__image img{
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
}
.cases__item-container:hover .cases__image-fill{
    opacity:0.3;
}
.cases__item-container:hover .cases__item-info--background{
    -webkit-transform: skew(0,4deg);
            transform: skew(0,4deg);
    background-color:rgba(255,255,255,1);
}
.cases__tag{
    position:absolute;
    background-color:#639B9D;
    border-radius:50px;
    color:white;
    font-weight:600;
    letter-spacing:5px;
    padding: 10px 20px;
    z-index:2;
    left: -20px;
    top: -15px;
}
.cases__item-container{
    border-radius:20px;
    display:block;
    overflow:hidden;
    position:relative;
}
.cases__item-info{
    color:black;
    height:40%;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    opacity: 1;
    z-index:2;
}
.cases__item-info--container{
    color: black;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 20px 20px 5px 20px;
    height:100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    opacity:0;
    -webkit-transform:translateY(10px);
            transform:translateY(10px);
    -webkit-transition:0.25s ease-out;
    transition:0.25s ease-out;
}
.cases__item-info--background{
    position: absolute;
    z-index: 1;
    width: 101%;
    top: 0;
    height: 150%;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
    -webkit-transform-origin: top right ;
            transform-origin: top right ;
    -webkit-transition:0.3s ease-out;
    transition:0.3s ease-out;
    background-color:rgba(255,255,255,0);
}
.cases__image{
    border-radius: 20px;
    overflow: hidden;
}
.cases__image-fill{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    -webkit-transition:0.3s ease-out;
    transition:0.3s ease-out;
    opacity:0;
}


.cases__image img{
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align:middle;
    width: 100%;
    -webkit-transform:scale(1.02);
            transform:scale(1.02);
    -webkit-transition:0.4s ease-out;
    transition:0.4s ease-out;
}
/*=== CASES UNDERSIDER ===*/
.case__closing{
    display:none !important;
}
.case__opening{
    display:block !important;
}
.case__exit {
    position: fixed;
    right: 7.15%;
    top: 32px;
    width: 34px;
    height: 34px;
    z-index: 101;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    -webkit-transition:0.1s;
    transition:0.1s;
}
@media screen and (min-width: 1080px) {
    .case__exit {
        right: 5.15%;
    }
}
.case__exit:hover, .case__exit:focus{
    cursor:pointer;
    -webkit-transform:scale(1.02);
            transform:scale(1.02);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
.case__exit:before, .case__exit:after {
    position: absolute;
    left: 18px;
    top: 8px;
    content: ' ';
    height: 25px;
    width: 4px;
    background-color: #333;
}
  .case__exit:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
  .case__exit:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.case__container{
    display:none;
    padding-bottom:100px;
}
.case__featured-image img{
    width:100%;
    
}
.case__info{
    padding:20px;
    /* margin-bottom:50px; */
}
.case__title{
    margin:0;
    margin-bottom:5px;
}
@media screen and (min-width: 1200px) {
    .featured-hero-title {
        font-size:2.5em;
    }
    .case__section h2{
        font-size:2.5em !important;
    } 
}
.case__description{
    margin-top:30px;
}
.case__section{
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:reverse;
            flex-direction:column-reverse;
}
.case__section.case__section--alternate{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
}
@media screen and (min-width: 769px) {
    .case__section.case__section--alternate{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
                flex-direction:row;
    }
    .case__video--wrapper{
        max-width:75% !important;
    }
}
.case__section_info{
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 50px;
    
}
.case__section_gif{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    padding-right: 7%;
}
.case__section_gif img{
    width: 100%;
}
.case__section_info h3{
    font-size:1.75em;
    margin:0;
    margin-bottom:15px;
}
.case__section--grey{
    background-color:#F2F2F2;
}
.case__section--gradient{
    background: rgb(242,242,242);
    background: linear-gradient(185deg, rgba(242,242,242,1) 50%, rgba(255,255,255,1) 50%);
}
.case__section_image img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.case__video{
    padding:30px 20px;
    display:-webkit-box;
    display:flex;
}
.case__video--wrapper{
    overflow:hidden;
    max-width:100%;
    margin:0 auto;
    box-shadow: 10px 6px 59px 3px rgba(0,0,0,0.11);
}
.case__video video{
    position:relative;
    right:-1px;
    width:100%;
    height:auto;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
}

.case__section--detaljer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-top: 50px;
}
.featured-hero-image.featured-hero-image--bryllupsbartender{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("img/cases/bryllupsbartender__cover.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("img/cases/bryllupsbartender__cover.jpg");
}
.featured-hero-image.featured-hero-image--buchwalds{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url("img/cases/buchwalds__cover.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("img/cases/buchwalds__cover.jpg");
}
.featured-hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 75% 25%;
}

.featured-hero-text {
    color: white;
    top: 40%;
    left: 10%;
    position: absolute;
    width: 80%;
    font-size: 1.2em;
}
.featured-hero-text--black {
    color: black;
    top: 40%;
    left: 10%;
    position: absolute;
    width: 80%;
    font-size: 1.2em;
}
.featured-hero-text p {
    margin-top: 25px;
}
.case__link {
    color: white!IMPORTANT;
}
.case__landing{
    height:100vh;
}
.featured-hero-title {
    margin: 0 auto;
    font-size:9vw;
}

@media only screen and (min-width: 768px) {
    .featured-hero-title {
        margin: 0 auto;
        font-size:2em;
    }
    .case__section{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
                flex-direction:row;
        padding: 100px 0 50px 0;
    }
    .case__section h2{
        font-size:1.6em;
        margin-top:100px;
    }
    .case__section h3{
        font-size:2em;
    }
    .case__section p{
        font-size:18px;
    }
    .case__section a{
        font-size:18px;
    }
    .featured-hero-text p {
        font-size: 18px;
    }
    .featured-hero-text {
        top: 45%;
        width: 45%;
    }
    .case__section.case__landing{
        padding: 0;
    }
    .case__featured-image img{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .case__info{
        width:30%;
    }
    .case__featured-image{
        width:70%;
    }
    .case__section_info{
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        padding-left: 10%;
        -webkit-box-pack: center;
                justify-content: center;
    }
    .case__section_image{
        width: 40%;
        padding-right: 5%;
    }  
    .case__section_info{
        width: 60%;
    } 
    .case__section_gif{
        width: 50%;
    }
    .case__video{
        padding:125px 20px;
    }

}

    
    


/* ----> About Us <---- */

#about-us {
    margin-top: 100px;
}
.about {
    padding-top: 25px;
    padding-bottom: 25px;
}
.about div img {
    max-width: 100%;
}
.about-text {
    max-width: 100%;
}



.about:first-child {
    background-color: #F2F2F2;
}
.about:last-child {
    background-color: #F2F2F2;
}

.about:first-child img {
    -webkit-box-ordinal-group: 0;
            order: -1;
    
}
.about:last-child img{
    -webkit-box-ordinal-group: 0;
            order: -1;
}
.divider-skewed.grey {
    background: -webkit-gradient(linear, right top, left bottom, color-stop(49%, white), color-stop(50%, #f2f2f2));
    background: linear-gradient(to left bottom, white 49%, #f2f2f2 50%);
    height: 25px;
    margin-top: 0;
}
.divider-skewed.white {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(49%, #f2f2f2), color-stop(50%, white));
    background: linear-gradient(to right bottom, #f2f2f2 49%, white 50%);
    height: 25px;
    margin-top: 0;
}
/* ----> FOOTER  <---- */

.footer {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
   
}
.footer div:nth-child(2) {
    margin-left: 20px;
}
.footer div:nth-child(3) {
    margin-left: 20px;
    margin-right: 20px;
}
footer {
    background-color: #F2F2F2;
    padding-bottom: 50px;
    padding-top: 40px;
}

footer div img {
    width: 38px;
    margin-top: 20px;
}

.fa:hover {
    background-color: #F2F2F2;
}

.fa {
    text-align: center;
    text-decoration: none;
    -webkit-box-align: center;
            align-items: center;
    margin: 5px 2px;
    width: 34px;
    height: 34px;
    border: 3px solid rgb(1, 107, 104);
    font-size: 14px!IMPORTANT;
    -webkit-transition: background-color 200ms ease 0ms;
    transition: background-color 200ms ease 0ms;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    position: relative;
    top: 10px;
}
.fa-instagram:before {
    content: "\f16d";
    position: relative;
    top: 10px;
    font-weight: bold;;
}
.fa-linkedin:before {
    content: "\f16d";
    position: relative;
    top: 10px;
}

.fa-facebook {
    background: rgb(1, 107, 104);
    color: white;
    border-radius: 10px;
  }
  .fa-linkedin {
    background: rgb(1, 107, 104);
    color: white;
    border-radius: 10px;
  }
  .fa-instagram {
    background: rgb(1, 107, 104);
    color: white;
    border-radius: 10px;
  }




/* ----> Media queries <---- */

@media only screen and (min-width: 768px) {
    .about div img {
        width: 50%;
    }
    .about-text {
        width: 50%;
    }
    .about .page-center {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
    }
    .about-us div:first-child div img {
        -webkit-box-ordinal-group: 0;
                order: -1;
    }
    .about-us div:last-child div img {
        -webkit-box-ordinal-group: 0;
                order: -1;
    }


    .cases__item{
        width:40%;
    }
}

@media only screen and (min-width: 1080px) {
    .cases__item{
        margin:50px;
        width:33.33%;
    }
    #menuPunkter {
        right: -35%;
        width: 35%;
        -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
        transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    }
    #burgerMenu {
        padding-right: 5.15%;
    }
    .page-center {
        position: relative;
        padding-right: 5.15%;
        padding-left: 5.15%; 
    }
    .burgerDiv {
        width: 35%;
    }
    .forside-tekst {
        clip-path: polygon(0% 0%, 50% 0%, 0% 400%, 0% 0%);
        -webkit-clip-path: polygon(0% 0%, 50% 0%, 0% 400%, 0% 0%);
        z-index: 1;
        height: 100%;
    }
    .tekst-boks {
        height: 100vh;
        width: 35%;
    }
    .forside-billede {
        position:absolute;
        height: 100%;
    }
    .forside-bg {
        position:absolute;
    }
    #forside{
        height:100vh;
    }
}
@media only screen and (max-width: 860px) {
    .footer div:first-child {
        -webkit-box-ordinal-group: 2;
                order: +1;
    }
    .footer div:last-child {
        -webkit-box-ordinal-group: 3;
                order: +2;
    }
    .footer div:nth-child(2) {
        margin-left: 0;
    }
    .footer div:nth-child(3) {
        margin-left: 0;
        margin-right: 0;
    }
    .footer div {
        flex-basis: 45%;
    }  
}

@media only screen and (max-width: 1080px) {
    .forside-bg {
        width:100%;
        box-sizing: border-box;
        height:500px !important;
        position:relative;
    }
    .forside-bg img {
        -o-object-fit: cover;
        object-fit: cover;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        object-position: bottom;
        height: 175%;
        }
    .bundtekst {
        display: none;
    }
    .forside-billede {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    } 
    #forside {
        padding-top: 100px;
    }
    .tekst-boks {
        padding-bottom: 50px;
    }
}
   

@media only screen and (max-width: 1260px) {
    h1 {
        font-size: 4rem;
    }
    
}

/*=== SERVICES ===*/

#services{
    padding-top:50px;
    padding-bottom:100px;
}

.services-headline {
    height: 100px;
    padding: 40px;
}
.services-headline h2{
    margin:0;
}

.de-fire-services {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
}

.service-webshop {
    height: 200px;
    width: 200px;
}

.service-webshop img {
    width: 100%;
    display: block;
}
.service-tekst {
    text-align: center;
    font-weight:600;
}
.services__icon-container {
    position:relative;
}
.services__icon-container img {
    width:200px;
    height:200px;
    position:absolute;
    display: inline-block;
}
.services__icon-container img:last-child {
    opacity:0;
}

.services__webshop {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
}

.services__film {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
}

.services__illustration {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
}

.services__webdesign {
    display: -webkit-box;
    display: flex;
-webkit-box-pack: center;
        justify-content: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
        flex-direction: column;
-webkit-box-align: center;
        align-items: center;
}

/*Services animation */
.services__icon-container{
    overflow:hidden;
    width:200px;
    height:200px;
}


@-webkit-keyframes switcher {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.001% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


@keyframes switcher {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.001% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*Services info */
.services__info{
    margin-top:100px;
    height:100px;
}
.services__info .services__info--show{
    display:block;
    -webkit-animation: fadeInInfo 0.5s forwards;
            animation: fadeInInfo 0.5s forwards;
}
.services__info-text{
    width:75%;
    margin:10px auto 0;
    text-align:center;
}
@media only screen and (min-width:769px) {
    .services__info-text {
        width:50%;
        display: none;
        margin:0 auto;
    }

    .services__block:hover img, .services__block.simulated-hover img{
        -webkit-animation-name: switcher;
                animation-name: switcher;
        -webkit-animation-iteration-count:infinite;
                animation-iteration-count:infinite;
        -webkit-animation-duration:0.4s;
                animation-duration:0.4s;
    }
    .services__block:hover img:last-child, .services__block.simulated-hover img:last-child{
        -webkit-animation-delay:0.2s;
                animation-delay:0.2s;
    }
}

#services button{
    margin: 50px auto 0 auto;
}

@-webkit-keyframes fadeInInfo {
    0%{
        -webkit-transform:translateY(10px);
                transform:translateY(10px);
        opacity:0;
    }
    100%{
        -webkit-transform:translateY(0);
                transform:translateY(0);
        opacity:1;
    }
}

@keyframes fadeInInfo {
    0%{
        -webkit-transform:translateY(10px);
                transform:translateY(10px);
        opacity:0;
    }
    100%{
        -webkit-transform:translateY(0);
                transform:translateY(0);
        opacity:1;
    }
}

@media only screen and (max-width:769px) {
    .services__info {
        height: 0;
    }
}

/* 404 page */
#error-page div{
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:center;
            justify-content:center;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
    margin:200px 0 100px 0;
}
