/* ----> Styling på HTML-tags <---- */

body {
    margin: 0;
}
main{
    overflow:hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(1, 107, 104);
}

li {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

/*=== TYPOGRAFI ===*/
*{
    font-family:'montserrat', sans-serif;
}
p {
    font-size: 15px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    margin: 0;
}

h2{
    font-weight:600;
    font-size:3em;
}
h2{
    font-weight:600;
    font-size:2em;
}
h3{
    margin:5px 0 5px 0;
}

/*=== TEXT STYLING ===*/
.title--underline{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.title--underline::after{
    content: url('img/underline01.png');
    position:relative;
    top:-20px;
    transform:scale(0.3) scaleY(0.6);
}
/* Specific text styles */

p.title--underline::after{
    content: url('img/underline01.png');
    position:relative;
    top:10px;
}
button.title--underline::after{
    top:-10px;
    transform:scale(0.3) scaleY(0.5) scaleX(0.7);
}
#cases h2.title--underline::after{
    transform:scaleX(0.3) scaleY(0.15) scaleX(0.5);
}
#services h2.title--underline::after{
    transform:scaleX(0.3) scaleY(0.15) scaleX(0.7);
}

/* ----> ALT CONTENT <---- */

.page-center {
    position: relative;
    padding-right: 7.15%;
    padding-left: 7.15%;
}

.grøntekst {
    color: #016b68;
}

/* ----> NAVIGATION <---- */

/* Logo */

#logo {
    position: absolute;
    z-index: 20;
    margin-top: 40px;
}

#logo img {
    width: 38px;
}

/* Selve menuen */

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    position: relative;
    bottom: 230px;
    margin-left: 20px;
    font-size: 16px;
    height: 100px;
    cursor: pointer;
}
header nav ul div {
    height: 0;
}

.overlayOn {
    display: block;
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 30;
  cursor: pointer;
  transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

#menuPunkter {
    display: table;
    position: fixed;
    background-color: #f6f6f6;
    right: -80%;
    width: 80%;
    height: 100vh;
    z-index: 50;
    overflow-y: scroll;
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
}

/*=== PRIS ESTIMERING ===*/
.estimering__container.estimering__init{
    display:none;
}
.estimering__container.estimering__close{
    animation:estClose 0.7s forwards;
}
@keyframes estClose{
    0%{
        z-index:100;
    }
    100%{
        z-index:-1;
    }
}
.estimering__container.estimering__open{
    animation:estOpen 0.7s forwards;
}
@keyframes estOpen{
    0%{
        z-index:-1;
    }
    100%{
        z-index:100;
    }
}

.estimering__close .estimering__formular{
    animation:estCloseRight 0.5s 0.2s forwards;
}
.estimering__close .estimering__intro{
    animation:estCloseLeft 0.5s forwards;
}
@keyframes estCloseRight{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(100%);
    }
}
@keyframes estCloseLeft{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}
.estimering__open .estimering__formular{
    animation:estOpenRight 0.7s forwards;
}
.estimering__open .estimering__intro{
    animation:estOpenLeft 0.5s forwards;
}
@keyframes estOpenRight{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes estOpenLeft{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(0);
    }
}
.estimering__close .estimering__exit{
    visibility:hidden;
}
.estimering__open .estimering__exit{
    visibility:initial;
}
#cases button{
    margin: 100px auto 0 auto;
}
button.estimering__open{
    display:block;
    border: none;
    outline:none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 15px 13px;
    background-color: rgb(1, 107, 104);
    transition:0.1s;
}

button.estimering__open:hover{
    cursor:pointer;
    transform:translateY(-3px)
}


.estimering__container{
    overflow:hidden;
    position:fixed;
    display:flex;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:10;
}
.estimering__exit {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index:101;
}
  .estimering__exit:hover {
    opacity: 1;
}
  .estimering__exit:before, .estimering__exit:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
  .estimering__exit:before {
    transform: rotate(45deg);
}
  .estimering__exit:after {
    transform: rotate(-45deg);
}
.estimering__inner{
    height:100%;
    width:100%;
    display:flex;
}
.estimering__intro{
    height:100%;
    width:50%;
    background-color:#FFFFFF;
    padding: 75px 50px;
    box-sizing:border-box;
}
.estimering__formular{
    height:100%;
    width:50%;
    background-color:#F2F2F2;
}

.estimering__formular form{
    height:100%;
    padding: 75px 50px;
    box-sizing:border-box;

}
.estimering__step{
    padding:0;
    border:none;
    height: 100%;
    flex-direction: column;
    box-sizing:border-box;
}
.estimering__step--show{
    opacity:1;
    display:flex;
    animation:fadeIn 0.5s;
}
.estimering__step--hidden{
    opacity:0;
    display:none;
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.estimering__step--header h2{
    margin-top: 0;
}
.estimering__step--input{
    display: flex;
    flex-direction: column;
}
.estimering__step--1 input{
    visibility: hidden;
    position:absolute;
}
.estimering__step.estimering__step--1 label{
    cursor:pointer;
    font-size:24px;
    margin-bottom:20px;
}
.estimering__step.estimering__step--1 label:hover{
    cursor:pointer;
    visibility:initial;
}
.estimering__step.estimering__step--1 label::after{
    content:"";
    content: url('img/arrow.png');
    visibility:hidden;
    margin-left: 10px;
    position: absolute;
}
.estimering__step.estimering__step--1 label:hover::after{
    visibility:initial;
    animation:fadeInArrowRight 0.5s;
}
@keyframes fadeInArrowRight{
    0%{
        opacity:0;
        transform:translateX(-5px)
    }
    100%{
        opacity:1;
        transform:translateX(0)
    }
}
@keyframes fadeInArrowLeft{
    0%{
        opacity:0;
        transform:translateX(5px) rotate(180deg);
    }
    100%{
        opacity:1;
        transform:translateX(0) rotate(180deg);

    }
}

.estimering__prisspænd{
    display:flex;
    align-items:center;
}
.estimering__prisspænd span{
    font-size:16px;
    font-weight:600;
    margin: 0 10px 10px 10px;
}
.estimering__prisspænd input{
    width: 50%;
}

.estimering__step input{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 12px;
    margin: 10px 0 15px 0;
    outline: none;
}
.estimering__step textarea{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 12px;
    margin: 10px 0 15px 0;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 500px;
    box-sizing: border-box;
}
.estimering__step label{
    font-size:18px;
}
.estimering__controls{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
.estimering__controls a:hover{
    color:black;
}
.estimering__controls a, .estimering__controls input{
    background-color:transparent;
    margin:10px;
    font-size:18px;
}
.estimering__controls a:last-child::after, .estimering__controls a:first-child::before{
    content:"";
    content: url('img/arrow.png');
    visibility:hidden;
    margin-left: 5px;
    position: absolute;
}
.estimering__controls a:first-child::before{
    transform-origin: left;
    margin-left: -5px;
    padding-right: 10px;
}
.estimering__controls a:last-child:hover::after{
    visibility:initial;
    animation:fadeInArrowRight 0.5s;
}
.estimering__controls a:first-child:hover::before{
    visibility:initial;
    transform:translateX(0) rotate(180deg);
    animation:fadeInArrowLeft 0.5s;
}

/* ESTIMERING ICONS */
.estimering__icons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.estimering__icons img {
    display: none;
    height: 300px;
    margin: 0 auto;
}

/* Menu links */

.menuLink1,
.menuLink2,
.menuLink3,
.menuLink4,
.menuLink5 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.menuLinks {
    text-align: center;
}

header nav ul.menuLinks {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.menuLinks li {
    margin: 30px;
    font-weight: bold;
}

.menuLink1 {
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transform: matrix(1, 0, 0, 1, 500, 0);
    opacity: 0;
}

.menuLink2 {
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transform: matrix(1, 0, 0, 1, 800, 0);
    opacity: 0;
}

.menuLink3 {
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transform: matrix(1, 0, 0, 1, 1100, 0);
    opacity: 0;
}

.menuLink4 {
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transform: matrix(1, 0, 0, 1, 1400, 0);
    opacity: 0;
}
.menuLink5 {
    transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    transform: matrix(1, 0, 0, 1, 1700, 0);
    opacity: 0;
}


/* Burgermenuen */
#burgerDivId {
    cursor: pointer;
    z-index: 1;
}
.burgerDiv {
    right: 0;
    height: 100px;
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,.04);
    position: fixed;
}

#burgerMenu {
    width: 28px;
    height: 30px;
    margin-top: 40px;
    padding-right: 7.15%;
    right: 0;
    position: fixed;
    z-index: 100;
}

#burgerMenu div {
    width: 100%;
    height: 5px;
    background: #23595A;

    margin: 4px auto;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    backface-visibility: hidden;
}

/* Burgermenu hover */
#burgerMenu:hover {
    cursor: pointer;
}

#burgerMenu:hover .two {
    width: 50%;
}

#burgerMenu:hover .one {
    transform: rotate(90deg) translate(9px, 8px);
}

#burgerMenu:hover .three {
    transform: rotate(-90deg) translate(9px, 8px);
}

/* Udseende af burgermenu når den bliver trykket på */
#burgerMenu.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#burgerMenu.on .two {
    opacity: 0;
}

#burgerMenu.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

/* udseende af selve menuen når burgermenu bliver trykket på */

header nav#menuPunkter.slideIn {
    right: 0 !IMPORTANT;
    transition: all 0.6s cubic-bezier(.65,.05,.36,1);
}
#menuPunkter.slideIn .menuLink1 {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

#menuPunkter.slideIn .menuLink2 {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

#menuPunkter.slideIn .menuLink3 {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

#menuPunkter.slideIn .menuLink4 {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}
#menuPunkter.slideIn .menuLink5 {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}



/*=== FORSIDE ===*/

.forside-billede {
    left:0;
    right:0;
}
.forside-tekst {
    background-color: white;
    position:relative;
}

.forside-tekst div:first-child {
    padding-top: 20px;

}
.p-forside {
    animation-duration: 2s!IMPORTANT;
    font-weight: 500;
    font-size: 30px;
}
.p-forside img {
    margin-right: 100px;
}

.body-tekst {
    margin-top:20px;
}

.forside-bg{
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    left: 0;
    right: 0;
}
.forside-bg img{
    width: auto;
    height: 115%;
    object-fit: fill;
    right: -125px;
    bottom: 0;
}

.tekst-boks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pil {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



/*=== CASES ===*/

#cases {
    padding-top: 80px;
}
.cases__grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}
.cases__item{
    position:relative;
    margin:25px;
    width:100%;
}
.cases__item-cta{
    align-self:flex-end;
}
.cases__item-container{
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
.cases__item-container:hover .cases__item-info--container{
    transform:translateY(-10px);
    opacity:1;
}
.cases__item-container:hover .cases__image img{
    transform:scale(1.01);
    filter: blur(3px);
}
.cases__item-container:hover .cases__image-fill{
    opacity:0.3;
}
.cases__item-container:hover .cases__item-info--background{
    transform: skew(0,4deg);
    background-color:rgba(255,255,255,1);
}
.cases__tag{
    position:absolute;
    background-color:#639B9D;
    border-radius:50px;
    color:white;
    font-weight:600;
    letter-spacing:5px;
    padding: 10px 20px;
    z-index:2;
    left: -20px;
    top: -15px;
}
.cases__item-container{
    border-radius:20px;
    display:block;
    overflow:hidden;
    position:relative;
}
.cases__item-info{
    color:black;
    height:40%;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    opacity: 1;
    z-index:2;
}
.cases__item-info--container{
    color: black;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 20px 20px 5px 20px;
    height:100%;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    opacity:0;
    transform:translateY(10px);
    transition:0.25s ease-out;
}
.cases__item-info--background{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 150%;
    transform: skew(0deg);
    transform-origin: top right ;
    transition:0.3s ease-out;
    background-color:rgba(255,255,255,0);
}
.cases__image{
    border-radius: 20px;
    overflow: hidden;
}
.cases__image-fill{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    transition:0.3s ease-out;
    opacity:0;
}
.buchwald-color{
    background-color:#F07D00;
}

.bryllups-color {
    background-color: #C78637;
}

.cases__image img{
    object-fit: cover;
    vertical-align:middle;
    width: 100%;
    filter: blur(0);
    transform:scale(1.02);
    transition:0.4s ease-out;
}
/*=== CASES UNDERSIDER ===*/
.case__closing{
    display:none !important;
}
.case__opening{
    display:block !important;
}
.case__exit {
    position: fixed;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    z-index:101;
}
.case__exit:before, .case__exit:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
  .case__exit:before {
    transform: rotate(45deg);
}
  .case__exit:after {
    transform: rotate(-45deg);
}
.case__container{
    display:none;
    padding-bottom:200px;
}
.case__featured-image img{
    width:100%;
    filter:brightness(0.8);
}
.case__info{
    padding:20px;
    /* margin-bottom:50px; */
}
.case__title{
    margin:0;
    margin-bottom:5px;
}
@media screen and (min-width: 1200px) {
    .case__section h2{
        font-size:2.5em !important;
    } 
}
.case__description{
    margin-top:30px;
}
.case__section{
    display:flex;
    flex-direction:column-reverse;
}
.case__section.case__section--alternate{
    flex-direction:column;
}
.case__section_info{
    padding:20px;
}
.case__section_gif{
    display: flex;
    justify-content: center;
    align-items: center;
}
.case__section_gif img{
    width: 100%;
}
.case__section_info h3{
    font-size:1.75em;
    margin:0;
    margin-bottom:15px;
}
.case__section--grey{
    background-color:#F2F2F2;
}
.case__section--gradient{
    background: rgb(242,242,242);
    background: linear-gradient(185deg, rgba(242,242,242,1) 50%, rgba(255,255,255,1) 50%);
}
.case__section_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.case__video{
    padding:30px 20px;
    display:flex;
}
.case__video--wrapper{
    overflow:hidden;
    max-width:75%;
    margin:0 auto;
    -webkit-box-shadow: 10px 6px 59px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 10px 6px 59px 3px rgba(0,0,0,0.11);
    box-shadow: 10px 6px 59px 3px rgba(0,0,0,0.11);
}
.case__video video{
    position:relative;
    right:-1px;
    width:100%;
    height:auto;
    transform: scale(1.02);
}

.case__section--detaljer {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 768px) {
    .case__section{
        flex-direction:row;
        padding: 100px 0 50px 0;
    }
    .case__section h2{
        font-size:1.6em;
        margin-top:100px;
    }
    .case__section h3{
        font-size:2.75em;
    }
    .case__section p{
        font-size:20px;
    }
    .case__section a{
        font-size:20px;
    }
    .case__section.case__landing{
        padding: 0;
    }
    .case__landing{
        height:100vh;
    }
    .case__featured-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .case__info{
        width:30%;
    }
    .case__featured-image{
        width:70%;
    }
    .case__section_info{
        display: flex;
        flex-direction: column;
        padding: 0 150px 0 50px;
        justify-content: center;
    }
    .case__section_image{
        width: 40%;
    }  
    .case__section_info{
        width: 60%;
    } 
    .case__section_gif{
        width: 50%;
    }
    .case__video{
        padding:125px 20px;
    }
}

/* ----> About Us <---- */

#about-us {
    margin-top: 100px;
}
.about {
    padding-top: 25px;
    padding-bottom: 25px;
}
.about div img {
    max-width: 100%;
}
.about-text {
    max-width: 100%;
}



.about:first-child {
    background-color: #F2F2F2;
}
.about:last-child {
    background-color: #F2F2F2;
}

.about:first-child img {
    order: -1;
    
}
.about:last-child img{
    order: -1;
}
.divider-skewed.grey {
    background: linear-gradient(to left bottom, white 49%, #f2f2f2 50%);
    height: 25px;
    margin-top: 0;
}
.divider-skewed.white {
    background: linear-gradient(to right bottom, #f2f2f2 49%, white 50%);
    height: 25px;
    margin-top: 0;
}
/* ----> FOOTER  <---- */

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.footer div:nth-child(2) {
    margin-left: 20px;
}
.footer div:nth-child(3) {
    margin-left: 20px;
    margin-right: 20px;
}
footer {
    background-color: #F2F2F2;
    padding-bottom: 50px;
    padding-top: 40px;
}

footer div img {
    width: 38px;
    margin-top: 20px;
}

.fa:hover {
    background-color: #F2F2F2;
}

.fa {
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin: 5px 2px;
    width: 34px;
    height: 34px;
    border: 3px solid rgb(1, 107, 104);
    font-size: 14px!IMPORTANT;
    transition: background-color 200ms ease 0ms;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    position: relative;
    top: 10px;
}
.fa-instagram:before {
    content: "\f16d";
    position: relative;
    top: 10px;
    font-weight: bold;;
}
.fa-linkedin:before {
    content: "\f16d";
    position: relative;
    top: 10px;
}

.fa-facebook {
    background: rgb(1, 107, 104);
    color: white;
    border-radius: 10px;
  }
  .fa-linkedin {
    background: rgb(1, 107, 104);
    color: white;
    border-radius: 10px;
  }
  .fa-instagram {
    background: rgb(1, 107, 104);
    color: white;
    border-radius: 10px;
  }




/* ----> Media queries <---- */

@media only screen and (min-width: 768px) {
    .about div img {
        width: 50%;
    }
    .about-text {
        width: 50%;
    }
    .about .page-center {
        display: flex;
        align-items: center;
    }
    .about-us div:first-child div img {
        order: -1;
    }
    .about-us div:last-child div img {
        order: -1;
    }


    .cases__item{
        width:40%;
    }
}
@media only screen and (min-width: 1080px) {
    .cases__item{
        margin:50px;
        width:33.33%;
    }
    #menuPunkter {
        right: -35%;
        width: 35%;
        transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    }
    #burgerMenu {
        padding-right: 5.15%;
    }
    .page-center {
        position: relative;
        padding-right: 5.15%;
        padding-left: 5.15%; 
    }
    .burgerDiv {
        width: 35%;
    }
    .forside-tekst {
        clip-path: polygon(0% 0%, 55% 0%, 0% 300%, 0% 0%);
        -webkit-clip-path: polygon(0% 0%, 55% 0%, 0% 300%, 0% 0%);
        z-index: 1;
        height: 100%;
    }
    .forside-bg img{
        position: absolute;
    }
    .forside-bg{
        position: absolute;
    }
    .tekst-boks {
        height: 100vh;
        width: 35%;
    }
    .forside-billede {
        position:absolute;
        height: 100%;
    }
    #forside{
        height:100vh;
    }
}
@media only screen and (max-width: 860px) {
    .footer div:first-child {
        order: +1;
    }
    .footer div:last-child {
        order: +2;
    }
    .footer div:nth-child(2) {
        margin-left: 0;
    }
    .footer div:nth-child(3) {
        margin-left: 0;
        margin-right: 0;
    }
    .footer div {
        flex-basis: 45%;
    }  
}
@media only screen and (max-width: 768px) {
.forside-bg img {
    height: 300px!IMPORTANT;
    }
.forside-bg {
    height: 70%;
    }
} 
@media only screen and (max-width: 1080px) {

    .bundtekst {
        display: none;
    }
    .forside-billede {
        display: flex;
        flex-direction: column;
    } 
    #forside {
        padding-top: 100px;
    }
    .tekst-boks {
        padding-bottom: 50px;
    }
    .forside-bg {
        padding-right: 5.15%;
        padding-left: 5.15%; 
        box-sizing: border-box;
    }
    .forside-bg img {
        object-fit: cover;
        right: -125px;
        bottom: 0;
        width: 100%;
        object-position: bottom;
        height: 500px;
        }
    }
   

@media only screen and (max-width: 1260px) {
    h1 {
        font-size: 4rem;
    }
    
}
/*=== SERVICES ===*/

#services{
    padding-top:50px;
    padding-bottom:100px;
}

.services-headline {
    height: 100px;
    padding: 40px;
}
.services-headline h2{
    margin:0;
}

.de-fire-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.service-webshop {
    height: 200px;
    width: 200px;
}

.service-webshop img {
    width: 100%;
    display: block;
}
.service-tekst {
    text-align: center;
    font-weight:600;
}
.services__icon-container img {
    width:200px;
    height:200px;
    display: inline-block;
}

.services__webshop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services__film {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services__illustration {
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.services__webdesign {
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

/*Services animation */
.services__icon-container{
    overflow:hidden;
    width:200px;
    height:200px;
}
.services__block:hover img{
    animation-name: switcher;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode:forwards;
    animation-duration:0.2s;
}
.services__block.simulated-hover img{
    animation-name: switcher;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode:forwards;
    animation-duration:0.2s;
}

@keyframes switcher {
    50%{
        transform:translateY(0);
    }50.0001%{
        transform:translateY(-200px);
    }100%{
        transform:translateY(-200px)
    }
}

/*Services info */
.services__info{
    margin-top:100px;
    height:100px;
}
.services__info .services__info--show{
    display:block;
    animation: fadeInInfo 0.5s forwards;
}
.services__info-text{
    width:50%;
    margin:0 auto;
    text-align:center;
}
@media only screen and (min-width:769px) {
    .services__info-text {
        display: none;
    }
}

#services button{
    margin: 50px auto 0 auto;
}

@keyframes fadeInInfo {
    0%{
        transform:translateY(10px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}

@media only screen and (max-width:769px) {
    .services__info {
        height: 0;
    }
}
